/* #root {
  @apply max-w-7xl mx-auto p-8 text-center;
} */

body {
  background-image: var(--custom-background-image, none);
  background-color: var(--custom-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  position: relative;
  color: var(--custom-text-color);
}

.custom-opaque-background-color::before {
  content: "";
  position: fixed; /* covers viewport even when scrolling */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--custom-opaque-color); /* overlay, adjust opacity as needed */
  z-index: 0; /* stays behind content */
  pointer-events: none; /* allows clicks through overlay */
}

.custom-opaque-background-color {
  background-color: var(--custom-background-color);
}

#root {
  position: relative;
  z-index: 1;
}