/* #root {
  @apply max-w-7xl mx-auto p-8 text-center;
} */

body {
  background-image: url('/background-8_x1386.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}