@import "tailwindcss";
@plugin "daisyui";
/* @tailwind utilities; */

@layer base {
    :root {
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        --custom-background-color: #3c3c3c;
        --custom-text-color: #ffffff;
        --custom-opaque-color: rgba(0, 0, 0, 0.4);
        background-color: var(--custom-background-color);
        color: var(--custom-text-color);
    }
}
